<h1>Websites</h1>
<%= link_to "Add a new Website", new_website_path %>

<% @websites.each do |website| %>
	<div class="row">

		<div class="col-md-2">
			<%= image_tag find_logo(website.url), class: "website" %>
		</div>

		<div class="col-md-10">
			<div class="row">
				<h2><%= link_to website.url, website_path(website) %></h2>
			</div>

			<div class="row">
 				<span class="average-review-rating" data-score=<%= website.reviews.average(:rating) %>></span>	
			</div>

			<div class="row">
				<%= website.description %>
			</div>

			<div class="row">
				Tags: ???
			</div>
		
		</div>
		
	</div>
<% end %>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function(){
			return $(this).attr('data-score')
		}
	});
</script>