<h1>Websites</h1>
<% if user_signed_in? %>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Add a new website
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New website</h4>
          </div>
          <div class="modal-body">
            ...
          </div>
        </div>
      </div>
    </div>


  <%= link_to "Add a new Website", new_website_path %>
<% end %>
<% @websites.each do |website| %>
	<div class="row">

		<div class="col-md-2">
			<%= image_tag find_logo(website.url), class: "website" %>
		</div>

		<div class="col-md-10">
			<div class="row">
				<h2><%= link_to website.url, website_path(website) %></h2>
			</div>

			<div class="row">
 				<span class="average-review-rating" data-score=<%= website.reviews.average(:rating) %>></span>	
			</div>

			<div class="row">
				<%= website.description %>
			</div>

			<div class="row">
				Tags: ???
			</div>
		
		</div>
		
	</div>
<% end %>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function(){
			return $(this).attr('data-score')
		}
	});
</script>