<div class="container">
	<div class="website-page">

		<h1 class="website-title"><%= @website.url %></h1>

		<div class="row">
			<div class="col-md-3">
				<%= image_tag find_logo(@website.url), class: "website-show" %>
			</div>	

			<div class="col-md-9">

				<div class="row">							
					<h3 class="website-desc"><%= @website.description %></h3>
				</div>

				<div class="row">
					Tags:
					<% @tags.each do |tag| %>
						<%= tag.title %>
					<% end %>					
				</div>

			</div>

		</div>

		<div class="row">
			<%= link_to "Visit this site", "http://" + @website.url, class: "btn", target: :_blank %>
		</div>

	<div class="reviews">
		<h2>Reviews</h2>
		<%= render @website.reviews %>
		<div>
			<%= link_to "Add Review", new_website_review_path(@website), class: "btn" %>
		</div>
	</div>

	<%= link_to "Back", websites_path,  class: "btn"%>
	<%= link_to "Admin Only: Edit", edit_website_path(@website), class: "btn"%>
	<%= link_to "Admin Only: Delete", website_path(@website), method: :delete, data: { confirm: "Are you sure?" }, class: "btn"%>
	</div>
</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function(){
			return $(this).attr('data-score')
		}
	});
</script>