<% if Website.exists?(review.website_id) %>
	<div class="review">
		<% website = Website.find(review.website_id).url %>

		<h4><%= link_to website, website_path(review.website_id)  %></h3>
		<div class="review-rating" data-score="<%= review.rating %>"></div>
		<p class="review-commnet"><%= review.description %></p>

		<% if user_signed_in? %>
			<% if review.user.id == current_user.id %>
				<div class="links btn-group">
					<%= link_to "Edit", edit_website_review_path(review.website, review), class: "btn btn-custom" %>
					<%= link_to "Delete", website_review_path(review.website, review), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
				</div>
			<% end %>
		<% end %>

	</div>
<% end %>